@page "/purchases"
@using MP_Project.Shared
@inject IHttpClientFactory ClientFactory

<div class="content-card">

    <div class="section-title">
        Purchases
    </div>

    <div class="purchase-table">

        <div class="purchase-header">
            <div>Supplier</div>
            <div>Contact</div>
            <div>Items</div>
            <div>Total</div>
        </div>

        @if (PurchasesData != null)
        {
            @foreach (var p in PurchasesData)
            {
                <div class="purchase-row">
                    <div>@p.SupplierName</div>
                    <div>@p.ContactInfo</div>

                    <div>
                        @foreach (var item in p.Items)
                        {
                            <div>@item.ProductName x @item.Quantity</div>
                        }
                    </div>

                    <div>£@p.TotalPrice</div>
                </div>
            }
        }

    </div>

</div>

@code {
    private List<PurchaseDto>? PurchasesData;

    protected override async Task OnInitializedAsync()
    {
        var http = ClientFactory.CreateClient("API");
        PurchasesData = await http.GetFromJsonAsync<List<PurchaseDto>>("api/SupplierTransactions");
    }
}